/*#taglist ul{list-style:none;padding:0;margin:0;}
#taglist .category{float:left;width:100%;}
#taglist .category a{float:left;display:block;width:20%;}
#taglist .category li{float:left;padding:0 10px 0 0}
*/